.idea/
__pycache__/
build/
dbs/
eggs/
project.egg-info/
scrapyenv/
file_reader
graph_requester
requirements
scrapy
setup
stocks
scrapyproject1/settings.py
scrapyproject1/__init__.py
scrapyproject1/.idea/
scrapyproject1/__pycache__/
